.a{grid-area: a;}
.b{grid-area: b;}
.c{grid-area: c;}
.d{grid-area: d;}
.e{grid-area: e;}
.f{grid-area: f;}


main{
    display: grid;
    grid-template: 
        "a b c" 4fr
        "d b c" 2fr
        "e e f" 3fr /2fr 1fr 4fr;
    gap: 10px;
    background-color: lightblue;
    height: 600px;
    justify-content: center;
}
main div{
    background-color: slateblue;
}

.a{
    justify-self: center;
}